/* General Styles */
body, html {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    
}

body{
    justify-content: center;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.bg-shape1{
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

.bg-shape2{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
}

.bg-shape3{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: three 10s infinite;

}

@keyframes one{
    0% {left: 0px; top: 0px;}
    35% {left: -300px; top: 70px;}
    55% {left: 20px; top: 150px;}
    85% {left: 50px; top: 100px;}
    100% {left: 0px; top: 0px;}
}

@keyframes two{
    0% {left: 0px; top: 0px;}
    15% {left: 50px; top: 10px;}
    40% {left: 100px; top: 50px;}
    65% {left: 50px; top: 100px;}
    100% {left: 0px; top: 0px;}
}
@keyframes three{
    0% {left: 0px; top: 0px;}
    25% {left: 300px; top: 10px;}
    50% {left: 300px; top: 50px;}
    75% {left: 100px; top: 300px;}
    85% {left: 50px; top: 100px;}
    100% {left: 0px; top: 0px;}
}


.opacity-50{
    opacity: 0.5; 
}

.bg-blur{
    filter: blur(90px);
}
.bg-primary{
    background-color: rgb(30, 0, 255);
}

.bg-teal{
    background-color: rgb(255, 72, 173);
}

.bg-purple{
    background-color: rgb(140, 0, 215);
}

h1{
    margin: 0 auto;
    top: 200px;
    text-align: center;
    font-family: sans-serif;
    font-size: 90px;
}

/* Navigation Bar Styles */
nav {
    position: relative; /* Set position to relative */
    z-index: 10; 
    background-color: transparent;
    padding: 20px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
    background-color: transparent;
    padding: 20px 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: transparent;
    transition: font-size 1.2s ease, background-color 0.2s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 193, 193, 0.8); /* Change background on hover */
    color: white; /* Change text color on hover */
    transition: background-color 0.8s ease, color 0.5s ease;
}


/* Text Styling */
.about-container, .about h1, .about-description, .about-intro {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    color: #333; /* Darker text for readability */
    
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    padding: 50px;
    max-width: 800px;
    color: white;
    margin: auto;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent */
    border-radius: 10px;
    
}

.about h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.about-intro {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 40px;
}

/* Profile Picture */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

/* Social Media Links */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 50px;
    z-index: 10;
}

.social-links {
    list-style: none;
    padding: 0;
    z-index: 10;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}

.social-links li a:hover {
    color: #0073e6;
}

/* Header Styling */
h1 {
    position: relative;
    color: #333;
    text-align: center;
    padding: 20px 0;
    z-index: 10;
}

p {
    position: relative;
    text-align: center;
    padding: 10px;
}

